<div id="friends_request_div">
<% count = current_user.awaitings.length %>
<% if (count > 0) %>
	<%= link_to "You have #{pluralize(count, 'new friendship invitation')}!", :controller => "users", :action => "friends" %>
<% end %>
</div>
